<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom border-primary text-dark">
        <span class="fs-4">Home Page</span>
    </header>
</div>
<div class="container py-4 text-light bg-success">
    <div class="container bg-secondary py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <a class="twitter-timeline" href="https://twitter.com/NighthawkCoding?ref_src=twsrc%5Etfw">Tweets by NighthawkCoding</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>

{% endblock %}
